@{
    ViewData["Title"] = "Personage";
}
<div class="row">
    <div class="col-md-6">
        <p style="font-size:30px">
            Personage
        </p>
        <p style="font-size:20px">
            @Model.XP<img src="~/images/XPRPG.png" alt="XPRPG" title="XP" />
        </p>
        <div class="bg-dark">
            <div>
                <div>@Model.SpelerPersonage.Naam</div>
            </div>
            <img src="data:image/png;base64, @Model.SpelerPersonage.Foto" alt="@Model.SpelerPersonage.AlternateText" />
            <div>
                <img src="~/images/ItemDetails.png" alt="DetailsRPG" onclick="ShowPersonageDetails(personageID = @Model.SpelerPersonage.ID)" class="buttonsRPGZoom" title="Details" />
            </div>
        </div>
        <br />
        <p style="font-size:20px">
            Volgende Upgrade
        </p>
        @foreach (var item in Model.ShopPersonages)
        {
            <div class="bg-dark">
                <div>
                    <div>@item.Naam</div>
                </div>
                <img src="data:image/png;base64, @item.Foto" alt="@item.AlternateText" />
                <div>
                    <img src="~/images/ItemDetails.png" alt="DetailsRPG" onclick="ShowPersonageDetails(personageID = @item.ID)" class="buttonsRPGZoom" title="Details" />
                    <img src="~/images/UpgradeRPG.png" alt="UpgradeRPG" onclick="Upgrade(y = @item.ID)" class="buttonsRPGZoom" title="Upgrade" />
                </div>
            </div>
        }
        <br />
        <img src="~/images/TerugRPG.png" alt="TerugRPG" onclick="Terug()" class="buttonsRPGZoom" title="Terug" />
    </div>
    <div class="col-md-6">
        <div id="changespace" />
    </div>
</div>

@if (ViewBag.XP != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.XP");
        };
    </script>
}

<script>
    function Terug() {
        window.location.href = "/Game/Gamewereld"
    }
    function Upgrade(y) {
        if (y == undefined) {
            y = 0;
        }
        var r = confirm('Weet je zeker dat je jouw Personage wilt upgraden?');
        if (r) {
            window.location.href = "/Personage/UpgradePersonage/" + y;
        }
        else {
            window.location.href = "/Personage/Personage"
        }
    }
</script>