@model RPG_IB2_WebApplication2.Models.PersonageDetailViewModel
@{
    Layout = null;
}

<div class="col-md-10">
    <h2>@Model.Naam</h2>
    <br />
    <table class="table" style="font-size:30px">
        <tbody>
            <tr>
                <td>
                    Naam
                </td>
                <td>
                    @Model.Naam
                </td>
            </tr>
            <tr>
                <td>
                    HP
                </td>
                <td>
                    @Model.HP
                </td>
            </tr>
            @if (Model.ID > 10)
            {
                <tr>
                    <td>
                        Extra Damage
                    </td>
                    <td>
                        @Model.Damage
                    </td>
                </tr>
                <tr>
                    <td>
                        Prijs
                    </td>
                    <td>
                        @Model.Prijs
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
