@{
    ViewData["Title"] = "Personage";
}
<p style="font-size:30px">
    Personage
</p>
<p style="font-size:20px">
    XP speler: @Model.XP
</p>
<div class="bg-info">
    <div>
        <div>Naam: @Model.SpelerPersonage.Naam</div>
    </div>
    <img src="data:image/png;base64, @Model.SpelerPersonage.Foto" alt="@Model.SpelerPersonage.AlternateText" />
    <div>
        <a asp-action="PersonageDetail" asp-route-id="@Model.SpelerPersonage.ID">
            <input type="submit" value="Personage Details" class="btn btn-default" />
        </a>
    </div>
</div>
<br />
<p style="font-size:20px">
    Volgende Upgrade
</p>
@foreach (var item in Model.ShopPersonages)
{
<div class="bg-info">
    <div>
        <div>Naam: @item.Naam</div>
    </div>
    <img src="data:image/png;base64, @item.Foto" alt="@item.AlternateText" />
    <div>
        <a asp-action="PersonageDetail" asp-route-id="@item.ID">
            <input type="submit" value="Personage Details" class="btn btn-default" />
        </a>
        <a asp-action="UpgradePersonage" asp-route-id="@item.ID">
            <input type="submit" value="UpgradePersonage" class="btn btn-default" onclick="confirm('Weet je zeker dat je jouw Personage wilt upgraden?')" />
        </a>
    </div>
</div>
}
<br />
<a asp-controller="Game" asp-action="Gamewereld">
    <input type="submit" value="Back" class="btn btn-default" />
</a>
@if (User.IsInRole("Admin"))
{

}
@if (ViewBag.XP != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.XP");
        };
    </script>
}