@{
    ViewData["Title"] = "Item";
}
<p class="font-weight-bold">Item Details</p>
<br />
<br />
<div>
    <div>
        <div>ID: @Model.Id</div>
    </div>
    <br />
    <div>
        <div>Naam: @Model.Naam</div>
    </div>
    <br />
    <div>
        <div>HP: @Model.HP</div>
    </div>
    <br />
    <div>
        <div>Prijs: @Model.Prijs</div>
    </div>
    <br />
    <div>
        <div>Type: @Model.Type</div>
    </div>
</div>

