@{
    ViewData["Title"] = "Gamewereld";
}
<p class="font-weight-bold" style="font-size:50px">Gamewereld</p>
<p class="spelerGegevens">
    <img src="data:image/png;base64, @Model.Speler.Personage.Foto" alt="@Model.Speler.Personage.Naam" title="@Model.Speler.Personage.Naam"/>
    @Model.Speler.Naam
    @Model.Speler.XP<img src="~/images/XPRPG.png" alt="XPRPG" title="XP"/>
    @Model.Speler.Geld<img src="~/images/GeldRPG.png" alt="GeldRPG" title="Geld"/>
    <img src="~/images/InstellingenRPG.png" alt="InstellingenRPG" class="buttonsRPGZoom" title="Instellingen"/>
    <img src="~/images/SpelbeschrijvingRPG.png" alt="SpelbeschrijvingRPG" class="buttonsRPGZoom" title="Spelbeschrijving"/>
    <img src="~/images/ShopRPG.png" alt="ShopRPG" onclick="Shop()" class="buttonsRPGZoom" title="Shop"/>
    <img src="~/images/PersonageRPG.png" alt="PersonageRPG" onclick="Personage()" class="buttonsRPGZoom" title="Personage"/>
</p>

<div id="bgGamewereld">

    @foreach (var item in Model.CPUs)
    {
        <div class="gameTegenstander" + @item.ID>
            <div>
                <img src="data:image/png;base64, @item.Foto" alt="@item.Naam" onclick="Gevecht(x = @item.ID)" title="@item.Naam" />
            </div>
        </div>
    }
</div>
    @if (ViewBag.Beloningen != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Beloningen");
        };
        </script>
    }

    <script>
        function Gevecht(x) {
            if (x == undefined) {
                x = 0;
            }
            window.location.href = "/Gevecht/Gevechtwereld/" + x;
        }
        function Personage() {
            window.location.href = "/Personage/Personage"
        }
        function Shop() {
            window.location.href = "/Shop/Shop"
        }
    </script>
