@{
    ViewData["Title"] = "Karakter Upgrades";
}

<p class="font-weight-bold">Karakter Upgrades</p>
<br />
<br />
<p style="font-size:20px">
    Speler Karakter
    <br />
    XP speler: @Model.XP
</p>
<div class="bg-info">
    <div>
        <div>ID: @Model.SpelerKarakter.IDKarakter</div>
    </div>
    <div>
        <div>Naam: @Model.SpelerKarakter.Naam</div>
    </div>
</div>
<br />
<br />
<br />
<p style="font-size:20px">
    Shop Karakters
</p>
@foreach (var item in Model.ShopKarakters)
{
    <div class="bg-info">
        <div>
            <div>ID: @item.IDKarakter</div>
        </div>
        <div>
            <div>Naam: @item.Naam</div>
        </div>
        <div><a asp-controller="Karakter" asp-action="KarakterDetail" asp-route-id="@item.IDKarakter">Karakter details</a></div>
        <div><a asp-controller="Karakter" asp-action="UpgradeKarakter" asp-route-id="@item.IDKarakter">Upgrade Karakter</a></div>
    </div>
    <br />
}
<br />
<br />
@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-controller="Item" asp-action="CreateItem">Create new item</a>
    </div>
}