@model RPG_IB2_WebApplication2.Models.GevechtDetailViewModel
@{
    ViewData["Title"] = "Gevechtwereld";
}
<p class="font-weight-bold" style="font-size:50px">Gevechtwereld</p>
<br />
<br />
<p style="font-size:20px">
    <img src="data:image/png;base64, @Model.Speler.Personage.Foto" alt="@Model.Speler.Personage.Naam" />
    @Model.Speler.Naam &nbsp; &nbsp; &nbsp;
    XP: @Model.Speler.XP &nbsp; &nbsp; &nbsp;
    Geld: @Model.Speler.Geld &nbsp; &nbsp; &nbsp;
    Instellingen &nbsp; &nbsp; &nbsp;
    Spelbeschrijving &nbsp; &nbsp; &nbsp;
    Karakter &nbsp; &nbsp; &nbsp;
    Shop &nbsp; &nbsp; &nbsp;
</p>

<br />
<p style="font-size:20px">
    <img src="data:image/png;base64, @Model.Speler.Personage.Foto" alt="@Model.Speler.Personage.Naam" />
    @Model.Speler.Naam &nbsp; &nbsp; &nbsp;
    @Model.Speler.HP &nbsp; &nbsp; &nbsp;
    @if (Model.SpelerAanZet == true)
    {
        <div><a asp-controller="Gevecht" asp-action="Aanval">Aanval</a></div>
        <div><a asp-controller="Gevecht" asp-action="Superaanval">Superaanval</a></div>
        if (Model.PotionSpelerGebruikt == false)
        {
            <div><a asp-controller="Gevecht" asp-action="Verdediging">Verdediging</a></div>
        }
    }
    <br />
    <img src="data:image/png;base64, @Model.CPU.Foto" alt="@Model.CPU.Naam" />
    @Model.CPU.Naam &nbsp; &nbsp; &nbsp;
    @Model.CPU.HP &nbsp; &nbsp; &nbsp;
    <br />
    @if (Model.SpelerAanZet == false)
    {
        <div><a asp-controller="Gevecht" asp-action="GevechtKeuzeCPU">Volgende beurt</a></div>
    }
</p>

@if (ViewBag.SuperAanval != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Superaanval");
        };
    </script>
}
@if (ViewBag.Beloningen != null)
{
    <form asp-controller="Game" asp-action="StartGame">
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Beloningen");
            };
        </script>
    </form>
}