@model RPG_IB2_WebApplication2.Models.GevechtDetailViewModel
@{
    ViewData["Title"] = "Gevechtwereld";
}
<p class="font-weight-bold" style="font-size:30px">Gevechtwereld</p>
@*<br />*@
<p style="font-size:20px">
    <img src="data:image/png;base64, @Model.Speler.Personage.Foto" alt="@Model.Speler.Personage.Naam" />
    @Model.Speler.Naam &nbsp; &nbsp; &nbsp;
    XP: @Model.Speler.XP &nbsp; &nbsp; &nbsp;
    Geld: @Model.Speler.Geld &nbsp; &nbsp; &nbsp;
    @*Instellingen &nbsp; &nbsp; &nbsp;
    Spelbeschrijving &nbsp; &nbsp; &nbsp;
    Karakter &nbsp; &nbsp; &nbsp;
    Shop &nbsp; &nbsp; &nbsp;*@
</p>

<p style="font-size:20px; left:100px; top:250px">
    <img src="data:image/png;base64, @Model.Speler.Personage.Foto" alt="@Model.Speler.Personage.Naam" width="150" height="175"/>
    @Model.Speler.Naam &nbsp;
    @Model.Speler.HP 
</p>

<p style="font-size:20px; position:absolute; left:500px; top:250px">
    <img src="data:image/png;base64, @Model.CPU.Foto" alt="@Model.CPU.Naam" width="150" height="175"/>
    @Model.CPU.Naam &nbsp;
    @Model.CPU.HP
</p>
<p style="font-size:20px; left:100px; top:600px">
    @if (Model.SpelerAanZet == true)
    {
        <img src="~/images/AanvalRPG.png" alt="AanvalRPG" onclick="Aanval()" />
        <img src="~/images/SuperaanvalRPG.png" alt="SuperaanvalRPG" onclick="Superaanval()" />
        @if (Model.PotionSpelerGebruikt == false)
        {
            <img src="~/images/VerdedigingRPG.png" alt="VerdedigingRPG" onclick="Verdediging()" />
        }
    }
    else
    {
        <img src="~/images/VolgendeBeurtRPG.png" alt="VolgendeBeurtRPG" onclick="VolgendeBeurt()" />
    }
</p>

@if (ViewBag.SuperAanval != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Superaanval");
        };
    </script>
}
@if (ViewBag.Beloningen != null)
{
    <form asp-controller="Game" asp-action="StartGame">
        <script type="text/javascript">
            window.closed = function () {
                alert("@ViewBag.Beloningen");
            };
        </script>
    </form>
}

    <script>
        function Aanval() {
            window.location.href = "/Gevecht/Aanval"
        }
        function Superaanval() {
            window.location.href = "/Gevecht/Superaanval"
        }
        function Verdediging() {
            window.location.href = "/Gevecht/Verdediging"
        }
        function VolgendeBeurt() {
            window.location.href = "/Gevecht/GevechtKeuzeCPU"
        }
    </script>