@{
    ViewData["Title"] = "Gevechtwereld";
}
<p class="font-weight-bold" style="font-size:50px">Gevechtwereld</p>
<br />
<br />
<p style="font-size:20px">
    <img src="data:image/png;base64, @Model.Speler.Personage.Foto" alt="@Model.Speler.Personage.Naam" />
    @Model.Speler.Naam &nbsp; &nbsp; &nbsp;
    XP: @Model.Speler.XP &nbsp; &nbsp; &nbsp;
    Geld: @Model.Speler.Geld &nbsp; &nbsp; &nbsp;
    Instellingen &nbsp; &nbsp; &nbsp;
    Spelbeschrijving &nbsp; &nbsp; &nbsp;
    Karakter &nbsp; &nbsp; &nbsp;
    Shop &nbsp; &nbsp; &nbsp;
</p>

<br />
<p style="font-size:20px">
    <img src="data:image/png;base64, @Model.Speler.Personage.Foto" alt="@Model.Speler.Personage.Naam" />
    @Model.Speler.Naam &nbsp; &nbsp; &nbsp;
    @Model.Speler.HP &nbsp; &nbsp; &nbsp;
        <div><a asp-controller="Gevecht" asp-action="Aanval">Aanval</a></div>
        <div><a asp-controller="Gevecht" asp-action="Superaanval">Superaanval</a></div>
        <div><a asp-controller="Gevecht" asp-action="Verdediging">Verdediging</a></div>
    <br />
    <img src="data:image/png;base64, @Model.CPU.Foto" alt="@Model.CPU.Naam" />
    @Model.CPU.Naam &nbsp; &nbsp; &nbsp;
    @Model.CPU.HP &nbsp; &nbsp; &nbsp;
    <br />
    <div class="form-group">
        <input type="submit" value="Volgende beurt" class="btn btn-default" asp-action="VolgendeBeurt" asp-controller="Gevecht" />
    </div>
</p>
}