@{
    ViewData["Title"] = "Shop";
}
<div class="row">
    <div class="col-md-6">
        <p style="font-size:30px">
            Shop
        </p>
        <p style="font-size:20px">
            @Model.Geld<img src="~/images/GeldRPG.png" alt="GeldRPG" title="Geld" />
            <br />
            <br />
            Speler Items

        </p>
        @foreach (var item in Model.PlayerItems)
        {
            <div>
                <div>@item.Naam
                @if (item.ID != 7)
                {
                    <img src="~/images/AanvalRPG.png" width="30" height="30"/>
                }
                else
                {
                    <img src="~/images/VerdedigingRPG.png" widht="30" height="25"/>
                }
                </div>
            </div>
            <img src="~/images/ItemDetails.png" alt="DetailsRPG" onclick="ShowItemDetails(itemID = @item.ID)" class="buttonsRPGZoom" title="Details" />
            @if (item.ID != 1 && item.ID != 7)
            {
                <img src="~/images/ShopRPG.png" alt="VerkoopItemRPG" onclick="VerkoopItem(z = @item.ID)" class="buttonsRPGZoom" title="VerkoopItem" />
            }
            <br />
        }
        <br />
        <br />
        <p style="font-size:20px">
            Shop Items
        </p>
        @foreach (var item in Model.ShopItems)
        {
            <div>
                <div>@item.Naam
                @if (item.ID != 7)
                {
                    <img src="~/images/AanvalRPG.png" width="30" height="30"/>
                }
                else
                {
                    <img src="~/images/VerdedigingRPG.png" widht="30" height="25"/>
                }
                </div>
            </div>
            <img src="~/images/ItemDetails.png" alt="DetailsRPG" onclick="ShowItemDetails(itemID = @item.ID)" class="buttonsRPGZoom" title="Details" />
            <img src="~/images/ShopRPG.png" alt="KoopItemRPG" onclick="KoopItem(y = @item.ID)" class="buttonsRPGZoom" title="KoopItem" />
            <br />
        }
        <br />
        <img src="~/images/TerugRPG.png" alt="TerugRPG" onclick="Terug()" class="buttonsRPGZoom" title="Terug" />
    </div>
    <div class="col-md-6">
        <div id="changespace" />
    </div>
</div>

@if (ViewBag.Geld != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Geld");
        };
    </script>
}

<script>
    function Terug() {
        window.location.href = "/Game/Gamewereld";
    }
    function KoopItem(y) {
        if (y == undefined) {
            y = 0;
        }
        var r = confirm('Weet je zeker dat je het item wilt kopen?');
        if (r) {
            window.location.href = "/Shop/KoopItem/" + y;
        }
        else {
            window.location.href = "/Shop/Shop";
        }
    }
    function VerkoopItem(z) {
        if (z == undefined) {
            z = 0;
        }
        var s = confirm('Weet je zeker dat je het item wilt verkopen?');
        if (s) {
            window.location.href = "/Shop/VerkoopItem/" + z;
        }
        else {
            window.location.href = "/Shop/Shop";
        }
    }
</script>