@{
    ViewData["Title"] = "Shop";
}
<body>
</body>
<p style="font-size:30px">
    Shop
</p>
<p style="font-size:20px">
    Geld speler: @Model.Geld
    <br />
    Speler Items

</p>
@foreach (var item in Model.PlayerItems)
{
<div class="bg-info">
    <div>
        <div>Naam: @item.Naam</div>
    </div>
    <img src="~/images/ItemDetails.png" alt="DetailsRPG" onclick="Detail(x = @item.ID)" class="buttonsRPGZoom" title="Details" />
    @if (item.ID != 1 && item.ID != 7)
    {
        <img src="~/images/ShopRPG.png" alt="VerkoopItemRPG" onclick="VerkoopItem(z = @item.ID)" class="buttonsRPGZoom" title="VerkoopItem" />
    }
</div>
    <br />
}
<br />
<p style="font-size:20px">
    Shop Items
</p>
@foreach (var item in Model.ShopItems)
{
    <div class="bg-info">
        <div>
            <div>Naam: @item.Naam</div>
        </div>
        <img src="~/images/ItemDetails.png" alt="DetailsRPG" onclick="Detail(x = @item.ID)" class="buttonsRPGZoom" title="Details" />
        <img src="~/images/ShopRPG.png" alt="KoopItemRPG" onclick="KoopItem(y = @item.ID)" class="buttonsRPGZoom" title="KoopItem" />
    </div>
    <br />
}
<br />
<img src="~/images/TerugRPG.png" alt="TerugRPG" onclick="Terug()" class="buttonsRPGZoom" title="Terug" />

@*@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-controller="Item" asp-action="CreateItem">Create new item</a>
    </div>
}*@

@if (ViewBag.Geld != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Geld");
        };
    </script>
}

<script>
    function Terug() {
        window.location.href = "/Game/Gamewereld"
    }
    function Detail(x) {
        if (x == undefined) {
            x = 0;
        }
        window.location.href = "/Item/ItemDetail/" + x;
    }
    function KoopItem(y) {
        if (y == undefined) {
            y = 0;
        }
        var r = confirm('Weet je zeker dat je het item wilt kopen?');
        if (r) {
            window.location.href = "/Shop/KoopItem/" + y;
        }
        else {
            window.location.href = "/Shop/Shop"
        }
    }
    function VerkoopItem(z) {
        if (z == undefined) {
            z = 0;
        }
        var s = confirm('Weet je zeker dat je het item wilt verkopen?');
        if (s) {
            window.location.href = "/Shop/VerkoopItem/" + z;
        }
        else {
            window.location.href = "/Shop/Shop"
        }
    }
</script>