@{
    ViewData["Title"] = "Shop";
}
<body>
</body>
<p style="font-size:30px">
    Shop
</p>
<p style="font-size:20px">
    Geld speler: @Model.Geld
    <br />
    Speler Items

</p>
@foreach (var item in Model.PlayerItems)
{
<div class="bg-info">
    <div>
        <div>Naam: @item.Naam</div>
    </div>
    <a asp-controller="Item" asp-action="ItemDetail" asp-route-id="@item.ID">
        <input type="submit" value="Item Details" class="btn btn-default" />
    </a>
    @if (item.ID != 1 && item.ID != 7)
    {
        <a asp-action="VerkoopItem" asp-route-id="@item.ID">
            <input type="submit" value="VerkoopItem" class="btn btn-default" onclick="confirm('Weet je zeker dat je het item wilt verkopen?')" />
        </a>
    }
</div>
    <br />
}
<br />
<p style="font-size:20px">
    Shop Items
</p>
@foreach (var item in Model.ShopItems)
{
    <div class="bg-info">
        <div>
            <div>Naam: @item.Naam</div>
        </div>
        <a asp-controller="Item" asp-action="ItemDetail" asp-route-id="@item.ID">
            <input type="submit" value="Item Details" class="btn btn-default" />
        </a>
        <a asp-action="KoopItem" asp-route-id="@item.ID">
            <input type="submit" value="KoopItem" class="btn btn-default" onclick="confirm('Weet je zeker dat je het item wilt kopen?')" />
        </a>
    </div>
    <br />
}
<br />
<a asp-controller="Game" asp-action="Gamewereld">
    <input type="submit" value="Back" class="btn btn-default" />
</a>

@*@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-controller="Item" asp-action="CreateItem">Create new item</a>
    </div>
}*@

@if (ViewBag.Geld != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Geld");
        };
    </script>
}